repository: .repository
logging:
  version: 1
  formatters:
    brief:
      format: '%(asctime)s %(levelname)s %(name)s %(message)s'
    detailed:
      format: '%(asctime)s %(levelname)s %(thread)d %(name)s %(message)s'
  handlers:
    console:
      class: logging.StreamHandler
      level: INFO
      formatter: brief
      stream: ext://sys.stdout
    file:
      class: logging.FileHandler
      level: DEBUG
      formatter: detailed
      filename: resources/praline-server.log
  loggers:
    global:
      level: DEBUG
      handlers: [console, file]
      propagate: no
  root:
    level: DEBUG
    handlers: [console, file]
