clang-format-executable-path: C:/Program Files/LLVM/bin/clang-format.exe
remote-repository: http://127.0.0.1:5000/
logging:
  version: 1
  formatters:
    brief:
      format: '%(levelname)s %(name)s %(message)s'
    detailed:
      format: '%(asctime)s %(levelname)s %(thread)d %(name)s %(message)s'
  handlers:
    console:
      class: logging.StreamHandler
      level: INFO
      formatter: brief
      stream: ext://sys.stdout
    file:
      class: logging.FileHandler
      level: INFO
      formatter: detailed
      filename: praline-client.log
  loggers:
    global:
      level: INFO
      handlers: [console, file]
      propagate: no
  root:
    level: INFO
    handlers: [console, file]
